.header-container {
  margin: 0 2rem;
  text-align: justify;
}

.modal .fd-modal {
  width: 500px;
}

.span-width .fd-popover {
  width: 100%;
}

.buff-bot.fd-layout-grid {
  margin-bottom: 8rem;
}

.zindex-2 .fd-inline-help__content {
  z-index: 2;
}

main.table-wrapper {
  margin: 0 2rem;
}

section .header {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.column ul {
  padding: 0.5rem;
  margin-bottom: 0;
  list-style-type: none;
}

.column h3 {
  padding: 0.5rem;
  font-weight: bold;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.column h3.planned,
.column ul.planned li:before {
  background-color: rgba(114, 191, 68, 0.8);
}

.column h3.reactive,
.column ul.reactive li:before {
  background-color: rgba(255, 203, 5, 0.8);
}

.column h3.nam,
.column ul.nam li:before {
  background-color: rgba(0, 158, 219, 1);
}

.column ul li {
  position: relative;
  margin-bottom: 2rem;
}

.column ul li:before {
  top: 0;
  left: 0;
  height: 100%;
  content: ' ';
  width: 0.5rem;
  display: block;
  position: absolute;
}

.tile-funcloc, 
.tile-workorder {
  padding: 0 0.5rem;
}

.tile-funcloc {
  margin-bottom: 0.5rem;
}

.glyph-icon {
  width: 3rem;
  color: rgb(206, 206, 206);
  border-left: 1rem solid transparent;
}

.split-2 {
  display: flex;
  flex-direction: row;
}