.header-container {
  margin: 0 2rem;
  text-align: justify;
}

.modal .fd-modal {
  width: 500px;
}

.span-width .fd-popover {
  width: 100%;
}

.buff-bot.fd-layout-grid {
  margin-bottom: 8rem;
}

.zindex-2 .fd-inline-help__content {
  z-index: 2;
}